/* geral */
 @media (max-width: 870px) {
    header {
        display: flex ;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        gap: 35px;

    }
}

@media (max-width: 529px) {
    header {
        display: flex ;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        gap: 5px;
}
}

@media (max-width: 499px) {
    header {
        display: flex ;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        gap: 0px;
}
}

@media (max-width: 494px) {
    header {
        display: flex ;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        gap: 101px;
}
}

 @media (max-width: 425px) {
    header {
        display: flex ;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        gap: 35px;
}
}

 @media (max-width: 344px) {
    header {
        display: flex ;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        gap: 5px;
        margin-top: 6px;
        padding: 15px;
}
}

 @media (max-width: 344px) {
    header {
        display: flex ;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        gap: 5px;
        margin-top: 6px;
        padding: 10px;
        width: 100%;
        bottom: 0;
}
} 

@media (max-width: 343px) {
    footer ul,li,img {
        position: relative;
        padding: 0;
        margin: 0;
        gap: 0px;
}
}

/* lancamento */

@media (max-width: 1024px) {
    div#compare {
        height: 200vh;
         max-height: 610px;
        min-height: 200px;
        left: 0vw;
        transform: scale(90%);
}
}

@media (max-width: 980px) {
    div#compare {
        height: 200vh;
         max-height: 610px;
        min-height: 200px;
        left: 0vw;
        transform: scale(70%);
}
}

@media (max-width: 979px) {
    div#compare {
        height: 200vh;
     max-height: 620px;
        min-height: 300px;
        left: 0vw;
        transform: scale(65%);
}
}

@media (max-width: 889px) {
    div#compare {
        height: 200vh;
     max-height: 640px;
        min-height: 300px;
        left: 0vw;
        transform: scale(65%);
}
}

@media (max-width: 854px) {
    div#compare {
        height: 200vh;
     max-height: 650px;
        min-height: 300px;
        left: 0vw;
        transform: scale(65%);
}
}

@media (max-width: 853px) {
    div#compare {
        height: 200vh;
     max-height: 680px;
        min-height: 300px;
        left: 0vw;
        transform: scale(65%);
}
}

@media (max-width: 848px) {
    div#compare {
        height: 200vh;
     max-height: 700px;
        min-height: 300px;
        left: 0vw;
        transform: scale(65%);
}
}

@media (max-width: 840px) {
    div#compare {
        height: 200vh;
     max-height: 700px;
        min-height: 300px;
        left: 0vw;
        transform: scale(65%);
}
}

@media (max-width: 839px) {
    div#compare {
        height: 200vh;
     max-height: 720px;
        min-height: 300px;
        left: 0vw;
        transform: scale(65%);
}
}

@media (max-width: 430px) {
    div#compare {
        
        height: 200vh;
     max-height: 730px;
        min-height: 300px;
        left: 0vw;
        transform: scale(65%);
}
}